---
layout: default
title:  "List of Publications"
id: publications
---

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card bg-basic">
                <div class="card-header">
                    <h4>Journal articles <span class="badge badge-pill badge-dark float-right">{{site.data.articles.size}}</span></h4> 
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    {% assign articles = (site.data.articles | sort: "year") | reverse %}
                    {% for pub in articles %}
                        <li class="list-group-item">{% include article.html %}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-basic">
                <div class="card-header">
                    <h4>Conference presentations <span class="badge badge-pill badge-dark float-right">{{site.data.presentations.size}}</span></h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    <!-- assign presentationstemp = sites.data.presentations | where_exp :  "type" , "type" contains "keynote" -->
                    {% assign presentations = (site.data.presentations | sort: "year") | reverse  %}
                    {% for pres in  presentations %}
                        <li class="list-group-item">{% include presentation.html %}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>







