---
layout: default
title:  "Teaching & Supervision"
id: teaching_supervision
---



<h3 id="teaching" class="p-3">Teaching experience</h3>

<h4 class="p-3">Active regular courses</h4>

<ul>
  {% assign courses = site.data.teaching.regular | sort: "start" %}
  {% for c in courses %}
    {% unless c.end %}
      <li><b>{{ c.course }}</b> - {{c.university}}, since {{c.start}}</li>
    {% endunless %}
  {% endfor %}
</ul>

<h4 class="p-3">Past regular courses</h4>
<ul>
  {% assign courses = site.data.teaching.regular | sort: "end" | reverse %}
  {% for c in courses %}
    {% if c.end %} 
      <li><b>{{ c.course }}</b> - {{c.university}}, {{c.start}}-{{c.end}}</li>
    {% endif %}
  {% endfor %}
</ul>

<h4 class="p-3">Active PhD courses</h4>

<ul>
  {% assign courses = site.data.teaching.phd | sort: "start" %}
  {% for c in courses %}
    {% unless c.end %}
      <li><b>{{ c.course }}</b> - {{c.university}}, since {{c.start}}</li>
    {% endunless %}
  {% endfor %}
</ul>

<!--h4 class="p-3">Past PhD courses</h4>
<ul>
  {% assign courses = site.data.teaching.phd | sort: "end" | reverse %}
  {% for c in courses %}
    {% if c.end %} 
      <li><b>{{ c.course }}</b> - {{c.university}}, {{c.start}}-{{c.end}}</li>
    {% endif %}
  {% endfor %}
</ul-->


<h4 class="p-3">Irregular courses</h4>
<ul>
  {% assign courses = site.data.teaching.irregular | sort: "year" | reverse %}
  {% for c in courses %}
      <li><b>{{ c.course }}</b> ({{c.type}})- {{c.where}}, {{c.year}}</li>
  {% endfor %}
</ul>


<h3 class="p-3" id="supervision">Supervision experience</h3>

<div class="alert alert-info" role="alert">
  If you are interested doing a diploma work under my supervision, please read <a class="alert-link" href="/diploma.html">this</a>.
</div>


<h4 class="p-3">M.Sc. diploma works</h4>

<ol reversed>
  {% assign diplomas = site.data.supervision.diploma.MSc | sort: "date" | reverse %}
  {% for d in diplomas %}
    <li>{{d.student}}: <b>{{ d.title }}</b> - {{d.university}}, {{d.course}}, {{d.date | slice: 0, 4}}, {{d.grade}}</li>
  {% endfor %}
</ol>

<h4 class="p-3">B.Sc. diploma works</h4>

<ol reversed>
  {% assign diplomas = site.data.supervision.diploma.BSc | sort: "date" | reverse %}
  {% for d in diplomas %}
    <li>{{d.student}}: <b>{{ d.title }}</b> - {{d.university}}, {{d.course}}, {{d.date | slice: 0, 4}}, {{d.grade}}</li>
  {% endfor %}
</ol>





