---
layout: default
title:  "Teaching & Supervision"
id: teaching_supervision
---

<h3 class="py-3" id="teaching">Teaching experience</h3>

I became a teaching assistant during my bachelor year at University of Pannonia. 
Since then, I've taught regular courses at 4 Hungarian and 1 Moroccan university, and visited several other universities in Europe, Africa, Asia as a guest lecturer via Erasmus, EGT or other programs.


{% for  category in site.data.teaching %}
  <h4 class="py-2">{{category.title}}</h4>
  {{category.description}}
  <ul>
    {% for course in category.courses %}
      <li><b>{{course.name}}</b> [{{course.level}}] - {{course.university}} ({{course.years}}) </li>
    {% endfor %}
  </ul>
{% endfor %}


<h3 class="py-3" id="supervision">Supervision experience with B.Sc. and M.Sc. students</h3>

<div class="alert alert-info" role="alert">
  If you are interested doing a diploma work under my supervision, please read <a class="alert-link" href="/diploma.html">this</a>.
</div>


<h4 class="py-2">M.Sc. diploma works</h4>

<ol reversed>
  {% assign diplomas = site.data.supervision.diploma.MSc | sort: "date" | reverse %}
  {% for d in diplomas %}
    <li>{{d.student}}: <b>{{ d.title }}</b> - {{d.university}}, {{d.course}}, {{d.date | slice: 0, 4}}, {{d.grade}}</li>
  {% endfor %}
</ol>

<h4 class="py-2">B.Sc. diploma works</h4>

<ol reversed>
  {% assign diplomas = site.data.supervision.diploma.BSc | sort: "date" | reverse %}
  {% for d in diplomas %}
    <li>{{d.student}}: <b>{{ d.title }}</b> - {{d.university}}, {{d.course}}, {{d.date | slice: 0, 4}}, {{d.grade}}</li>
  {% endfor %}
</ol>





