
<div class="row">
  <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 p-3">
    <img class="d-print-none img-fluid rounded mx-auto d-block" alt="Image" src="assets/hegyhati.jpg">
    <img class="d-none d-print-block rounded" width="300px" alt="Image" src="assets/hegyhati.jpg">

  </div>
  <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 p-3"> 
    <h3>Máté Hegyháti, Ph.D.</h3>
    <p>Birth date: January 23, 1986</p>
    <p><a href="mailto:hegyhati.work@gmail.com">hegyhati.work@gmail.com</a></p>
    <br />
    <dl>
        <dt>Associate Professor</dt>
            <dd><a  href="http://uni-sopron.hu">University of Sopron</a></dd>
        <dt>Senior Software Engineer (Contractor)</dt>
                <dd><a  href="http://rtspro.hu">RTS Product Engineering</a></dd>
        <dt>Freelance software engineer, tutor
            <dd>on the <a href="https://www.upwork.com/freelancers/~01a0649a8d4ae27a60">UpWork</a> platform</dd> </dt>
    </dl>

    <div class="d-print-none my-3">
      <a href="https://www.researchgate.net/profile/Mate_Hegyhati">ResearchGate</a> -
      <a href="https://scholar.google.com/citations?user=E-LBFOgAAAAJ&hl=en">Google scholar</a> -
      <a href="https://publons.com/researcher/1667950/mate-hegyhati/">Publons</a>
      <br />                  
      <a href="https://www.linkedin.com/in/mate-hegyhati-592b9110/">Linkedin</a> -
      <a href="https://github.com/hegyhati">GitHub</a>    
    </div>
  </div>
</div>

<div class="row p-2"  style="page-break-after: always;">
    <div class="col"></div>
    <div class="col-xl-8 col-lg-10">

        <h4>🎓 Degrees</h4>
        <ul>
            <li><b>Bachelor in Information Technology</b>, Excellent, University of Pannonia, 2008</li>
            <li><b>Master in Information Technology</b>, Excellent, University of Pannonia, 2010</li>
            <li><b>PhD in Information Technology</b>, Summa Cum Laude, University of Pannonia, 2015</li>
        </ul>
    </div>
    <div class="col"></div>
</div>

<div class="row p-2">
  <div class="col"></div>
  <div class="col-xl-8 col-lg-10">
        <h4>🗣 Languages</h4>
        <ul>
            <li><b>🇺🇸 English</b> - fluent</li>
            <li><b>🇩🇪 German</b> - good working knowledge</li>
            <li><b>🇭🇺 Hungarian</b> - native</li>
        </ul>

        <h4>🏆 Awards</h4>
        <ul>
            {% assign awards = (site.data.awards | sort: "year") | reverse %}
            {% for award in awards %}
                <li>{{ award.name }}, {{ award.year }} - {{award.givenby}}</li>
            {% endfor %}
        </ul>

        <h4>💰 Grants</h4>
        <ul>       
          <li>New National Excellence Program scholarship, 2017</li>
          <li>New National Excellence Program scholarship, 2016</li>	
          <li>Apáczai Csere János scholarship, 2013</li>	       
        </ul>

        <div class="card bg-basic my-3">
            <div class="card-header">
                <h4>Research & Ph.D. supervision</h4> 
            </div>
            <div class="card-body">
                <p>Active research on the <b>scheduling</b> of batch processes since 2005.</p>
                <p>Several collaborative works in the field of <b>sustainable energy planning</b> and <b>graph coloring</b>.</p>
                <p><b>Erdős number:</b> 2</p>
                <p><a href="/publications.html#publications">{{site.data.articles.size}} published papers, and {{site.data.presentations.size}} conference presentations</a></p>
                <p><a href="/publications.html#phd">{{site.data.supervision.phd.size}} graduated Ph.D. student</p>
            </div>
        </div>


        <div class="card bg-basic my-3">
            <div class="card-header">
                <h4>Teaching & Supervision</h4> 
            </div>
            <div class="card-body">
                <p>Several regular <a href="/teaching_supervision.html#teaching">courses</a> on programming, formal languages, optimization, discrete event systems at several universities since 2005.</p>
                <p>Numerous supervised <a href="/teaching_supervision.html#supervision">diploma works</a> and student conference projects.</p> 
            </div>
        </div>


        <h4>💻 IT skills, technologies</h4>
        <ul>
            <li>Advanced <b>C++</b> developer</li>
            <li>Moderate experience with langueages: C, Python, OCaml, PHP, Java, JS, lisp, bash</li>
            <li>Experience with CI technologies: <b>CircleCI, GitHub Actions</b>, Jenkins, Travis, <b>Docker</b></li>
            <li>Moderate experience with following web related technologies: Symfony, Jekyll, Bootstrap, Liquid, Twig</li>
            <li>Basic knowledge of IoT platforms: DeviceHive, ThingsBoard</li>
        </ul>
        
        <h4>Former jobs</h4>
        <ul>
            <li><b>Senior research fellow</b>, Széchenyi István University, Győr, 2016-2021</li>
            <li><b>Software engineer</b>, XBody Hungary Kft., Győr, Hungary, 2017-2020</li>
            <li><b>Lecturer and research associate</b>, University of Pannonia, Veszprém, Hungary, 2005-2016</li>
            <li><b>Invited lecturer</b>, Pázmány Péter Catholic University, Budapest, Hungary, 2008-2015</li>
            <li><b>Invited lecturer</b>, I. Mohammed University, Oujda, Morocco, 2012, 2014, 2015</li>
        </ul>       
        
        <h4 id="hobby"> 𝄢 Soft skills and hobbies 🏃</h4>
        <ul>
            <li>Experienced long distance runner, trail runner, hiker, amateur cyclist, triathlete - <a href="http://www.runnermate.eu">RunnerMate blog</a></li>
            <li>Cello student, former founder and manager of the Symphonic Orchestra of the University of Pannonia</li>
            <li>Former supervisor of a talent care program, summer camp organizer</li>
            <li>Former reprsentative of PhD students at several university councils</li>
        </ul>

    </div>
    <div class="col"></div>
</div>

