
  <h4>List of publications</h4>
  <div class="card-body">
      <ol>
      {% assign articles = (site.data.articles | reverse | sort: "year") | reverse %}
      {% for pub in articles %}
        <li>
          {% for author in pub.author %}
            {{author.given}}
            {% if author.family =="Hegyháti" or author.family =="Hegyhati" %}
                <u>{{author.family}}</u>
            {% else %}
                {{author.family}}
            {% endif %}
            {% unless forloop.last %},{% endunless %}
          {% endfor %}
          -
          <b>{{pub.title}}</b>
          ;
          {{pub.journal}}, {{pub.year}},
          {{pub.volume}}{% if pub.issue %}({{pub.issue}}){% endif %},
          {{pub.pages}}
        </li>
      {% endfor %}
      </ol>
  </div>

  <h4>Conference presentations and posters</h4>
  <ol>
  {% assign presentations = (site.data.presentations | reverse | sort: "year") | reverse  %}
  {% for pres in  presentations %}
    <li>
      <b>{{pres.title}}</b> - {{pres.author}}, persented at: <div>{{pres.conferenceshort}} - {{pres.city}}, {{pres.country}} - {{pres.date}}, {{pres.year}}
    </li>
  {% endfor %}
  </ol>



<h4 class="p-3" style="page-break-before: always;">Teaching experience</h4>

{% for  category in site.data.teaching %}
  <h5 class="py-2">{{category.title}}</h5>
  <ul>
    {% for course in category.courses %}
      <li><b>{{course.name}}</b> [{{course.level}}] - {{course.university}} ({{course.years}}) </li>
    {% endfor %}
  </ul>
{% endfor %}


<h4 class="p-3">Supervision experience</h4>

<h5 class="p-3">M.Sc. diploma works</h5>

<ol reversed>
  {% assign diplomas = site.data.supervision.diploma.MSc | sort: "date" | reverse %}
  {% for d in diplomas %}
    <li>{{d.student}}: <b>{{ d.title }}</b> - {{d.university}}, {{d.course}}, {{d.date | slice: 0, 4}}, {{d.grade}}</li>
  {% endfor %}
</ol>

<h5 class="p-3">B.Sc. diploma works</h5>

<ol reversed>
  {% assign diplomas = site.data.supervision.diploma.BSc | sort: "date" | reverse %}
  {% for d in diplomas %}
    <li>{{d.student}}: <b>{{ d.title }}</b> - {{d.university}}, {{d.course}}, {{d.date | slice: 0, 4}}, {{d.grade}}</li>
  {% endfor %}
</ol>
